<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.monroe.org.pocketfit" >

    <application
        android:name=".PocketFitApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashboardActivity"
            android:label="Pocket Fit"
            android:theme="@style/AnimationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodSelectActivity"
            android:label="Exercises"
            android:theme="@style/AnimationActivity" >
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="Exercises"
            android:theme="@style/AnimationActivity" >
        </activity>
        <activity
            android:name=".RoutinesActivity"
            android:label="Exercises"
            android:theme="@style/AnimationActivity" >
        </activity>
        <activity
            android:name=".RoutineEditActivity"
            android:label="Routine"
            android:theme="@style/AnimationActivity" >
        </activity>
        <activity
            android:name=".RoutineDayEditActivity"
            android:label="Routine Day"
            android:theme="@style/AnimationActivity" >
        </activity>

        <activity
            android:launchMode="singleInstance"
            android:name=".TrainingActivity"
            android:label="Training"
            android:theme="@style/AnimationActivity" >
        </activity>

        <service
            android:name=".TrainingExecutionService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
